html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------------------------*/

@media (max-width: 1077px) {
    .navbar-ul {
        display: none;
    }
}

@media (max-width: 992px) {
    body header {
        display: none;
    }
}

@media (max-width: 1335px) {
    .navsearch {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbuton, .bottom_menu {
        display: none;
    }
}

body {
    background-color: #e1e1e2;
    margin-bottom: 47px;
}

body div img {
    width: 100%;
}

header {
    height: 40px;
}

.header_div {
    height: 38px;
    display: block;
    border-bottom: 2px solid #636466;
    background: #000000;
    padding: 0 40px;
}

.header_div #block-languageswitcher {
    float: right;
    position: relative;
}

.header_div #block-languageswitcher h2 {
    color: #FFFFFF;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    transition: all 0.2s ease;
    padding: 10px 20px;
    text-align: right;
    margin: 0;
    cursor: pointer;
    line-height: 17px;
}

.header_div #block-languageswitcher:hover h2 {
    color: #000000;
    background-color: #FFFFFF;
}

.header_div #block-languageswitcher h2:after {
    content: url("../img/f0d7_white.svg");
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 12px;
}

.header_div #block-languageswitcher:hover h2:after {
    content: url("../img/f0d7_black.svg");
}

.header_div #block-languageswitcher .links {
    padding: 0;
    min-width: 168px;
    right: 0;
    text-align: center;
    top: 37px;
    position: absolute;
    display: none;
    overflow: hidden;
    list-style: none;
    font-size: 14px;
    background-color: white;
    transition: max-height 0.25s ease-in;
}
.header_div #block-languageswitcher:hover .links {
    display: block;
}

.header_div #block-languageswitcher .links li {
    font-size: 15px;
    transition: all 0.2s ease;
    text-transform: uppercase;
    font-family: "Klavika Condensed Italic", Calibri, Arial, sans-serif;
    font-weight: normal;
    list-style-type: none;
    color: black;
    font-style: italic;
    padding: 11px 20px;
    margin: 4px 0;
    display: block;
}
.header_div #block-languageswitcher .links li:hover {
    color: white;
    background-color: black;
}

.header_div #block-secondarymenu {
    float: right;
    margin-right: 20px;
}

.header_div #block-secondarymenu ul li {
    display: inline-block;
    margin: 0;
}

.header_div #block-secondarymenu ul li a {
    padding: 10px 18px;
    display: block;
    margin: 0;
    color: #FFFFFF;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    transition: all 0.2s ease;
    text-decoration: none;
    line-height: 18px;
}
.header_div #block-secondarymenu ul li:hover a {
    color: #000000;
    background-color: #FFFFFF;
}





.region-navigation {
    align-content: right;
    background-color: black;
    display: inline-block;
    width: 100%;
    padding: 23px 40px 12px;
    box-sizing: border-box;
}

.main_logo {
    float: left;
    width: 140px;
    margin-right: 30px;
}

.block-amd-main-menu {
    float: left;
}

.navbar {
    float: left;
}

.navbar-ul {
    float: left;
}

.navbar-ul a {
    color: #FFFFFF;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.navbar-ul li {
    transition: all 0.2s ease;
}

.navbar-ul > li {
    float: left;
    margin: 4px 0;
    min-height: 40px;
}

.navbar-ul > li > a {
    vertical-align: bottom;
    padding: 10px 18px;
    line-height: 22px;
    display: block;
}
.navbar-ul > li:hover > a {
    background: #FFFFFF;
    color: #000000;
}

.navbar-ul > li > div {
    display: none;
    position: absolute;
    min-width: 270px;
    opacity: 0.85;
    background: #FFFFFF;
}
.navbar-ul > li:hover > div {
    display: block;
}

.navbar-ul > li > div > ul > li {
    margin-top: 5px;
    padding: 15px;
}
.navbar-ul > li > div > ul > li:hover {
    background: #000000;
}

.navbar-ul > li > div > ul > li > a {
    color: #000000;
}
.navbar-ul > li > div > ul > li:hover > a {
    color: #FFFFFF;
}







.navsearch {
    float: right;
    position: relative;
    border: 1px solid white;
    height: 30px;
    padding: 0 25px 0 10px;
    width: 235px;
    line-height: 30px;
    font-family: "Noto Sans",sans-serif;
    background: transparent;
    color: #FFFFFF;
}

.submitsearch {
    float: right;
    background: transparent;
    border: 0;
    position: relative;
    right: 30px;
    top: 4px;
    padding: 0;
}

.bottom_menu {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    cursor: pointer;
}

.bottom_menu_a {
    background-color: rgb(59, 89, 152);
    height: 50px;
    position: fixed;
    width: 25%;
    grid-column-start: 1;
}

.bottom_menu_b {
    background-color: rgb(29, 161, 242);
    height: 50px;
    position: fixed;
    right: 25%;
    width: 25%;
}

.bottom_menu_c {
    background-color: rgb(115, 138, 141);
    height: 50px;
    position: fixed;
    right: 50%;
    width: 25%;
}

.bottom_menu_d {
    background-color: rgb(255, 101, 80);
    height: 50px;
    position: fixed;
    right: 75%;
    width: 25%;
}

.first_section {
    padding: 50px 40px;
    min-height: 400px;
    background-image: url("../img/80411-ryzen-embedded-orange-bkgd-v1-1920x800.jpg");
}

.youtube_video {
    float: left;
    display: inline;
}

.description {
    font-size: 70px;
    color: #FFFFFF;
    display: inline;
    float: left;
}
