html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------------------------*/

@media (max-width: 1080px) {
    .navbar-ul {
        display: none;
    }
}

@media (max-width: 992px) {
    body header, .submitsearch {
        display: none;
    }
}

@media (max-width: 1335px) {
    .navsearch {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbuton, .icon-bar {
        visibility: hidden;
    }

}

@media (min-width: 980px) {
    .bottom_menu > nav {
        display: none;
    }
}

body {
    background-color: #e1e1e2;
    margin-bottom: 47px;
}

body div img {
    width: 100%;
}

header {
    height: 40px;
}

.header_div {
    background: #000000;
    border-bottom: 2px solid #636466;
    display: block;
    height: 38px;
    padding: 0 40px;
}

.header_div #block-languageswitcher {
    float: right;
    position: relative;
}

.header_div #block-languageswitcher h2 {
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 10px 20px;
    text-align: right;
    transition: all 0.2s ease;
}

.header_div #block-languageswitcher:hover h2 {
    background-color: #FFFFFF;
    color: #000000;
}

.header_div #block-languageswitcher h2:after {
    content: url("../img/f0d7_white.svg");
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 12px;
}

.header_div #block-languageswitcher:hover h2:after {
    content: url("../img/f0d7_black.svg");
}

.header_div #block-languageswitcher .links {
    background-color: white;
    display: none;
    font-size: 14px;
    list-style: none;
    min-width: 168px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 37px;
    transition: max-height 0.25s ease-in;
}
.header_div #block-languageswitcher:hover .links {
    display: block;
}

.header_div #block-languageswitcher .links li {
    color: black;
    display: block;
    font-family: "Klavika Condensed Italic", Calibri, Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    list-style-type: none;
    margin: 4px 0;
    padding: 11px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.header_div #block-languageswitcher .links li:hover {
    background-color: black;
    color: white;
}

.header_div #block-secondarymenu {
    float: right;
    margin-right: 20px;
}

.header_div #block-secondarymenu ul li {
    display: inline-block;
    margin: 0;
}

.header_div #block-secondarymenu ul li a {
    color: #FFFFFF;
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 10px 18px;
    transition: all 0.2s ease;
    text-decoration: none;
}
.header_div #block-secondarymenu ul li:hover a {
    background-color: #FFFFFF;
    color: #000000;
}





.region-navigation {
    align-content: right;
    background-color: black;
    box-sizing: border-box;
    display: inline-block;
    padding: 23px 40px 12px;
    width: 100%;
}

.main_logo {
    float: left;
    margin-right: 30px;
    width: 140px;
}

.block-amd-main-menu {
    float: left;
}

.navbar {
    float: left;
}

.navbar-ul {
    float: left;
}

.navbar-ul a {
    color: #FFFFFF;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.navbar-ul li {
    transition: all 0.2s ease;
}

.navbar-ul > li {
    float: left;
    margin: 4px 0;
    min-height: 40px;
}

.navbar-ul > li > a {
    display: block;
    line-height: 22px;
    padding: 10px 18px;
    vertical-align: bottom;
}

.navbar-ul > li:hover > a {
    background: #FFFFFF;
    color: #000000;
}

.navbar-ul > li > div {
    background: #FFFFFF;
    display: none;
    min-width: 270px;
    opacity: 0.85;
    position: absolute;
}
.navbar-ul > li:hover > div {
    display: block;
}

.navbar-ul > li > div > ul > li {
    margin-top: 5px;
    padding: 15px;
}
.navbar-ul > li > div > ul > li:hover {
    background: #000000;
}

.navbar-ul > li > div > ul > li > a {
    color: #000000;
}

.navbar-ul > li > div > ul > li:hover > a {
    color: #FFFFFF;
}



.navbuton {
    background: transparent;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 14px 11px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.icon-bar {
    background-color: #FFFFFF;
    height: 4px;
    margin: 3px 0;
    width: 30px;
}




.navsearch {
    background: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    float: right;
    font-family: "Noto Sans",sans-serif;
    height: 30px;
    line-height: 30px;
    margin: 6px -27px 0px 0px;
    padding: 0 25px 0 10px;
    position: relative;
    width: 235px;
}

.submitsearch {
    background: transparent;
    border: 0;
    float: right;
    padding: 0;
    position: relative;
    top: 10px;
}

.bottom_menu {
    background: #FFFFFF;
    bottom: 0;
    display: flex;
    padding: 1px 0 0;
    position: fixed;
    width: 100%;
}

.bottom_menu > nav {
    cursor: pointer;
    flex-grow: 1;
}

.bottom_menu > nav > img {
    align-self: center;
    display: block;
    height: 18px;
    margin: 15px auto;
    width: 18px;
}

.bottom_menu_a {
    background-color: rgb(59, 89, 152);
}

.bottom_menu_b {
    background-color: rgb(29, 161, 242);
}

.bottom_menu_c {
    background-color: rgb(115, 138, 141);
}

.bottom_menu_d {
    background-color: rgb(255, 101, 80);
}



.first_section {
    background: url("../img/76955-ryzen-raven-AM4-background-1920x600_0.jpg") center;
    background-size: auto 100%;
    color: #FFFFFF;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 0 40px;
}

.fs_main_context {
    height: auto;
    max-width: 550px;
}

.fs_main_context > img {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.fs_description {
    margin: auto;
    padding: 15px;
    width: 100%;
}
.fs_description > article > h2 {
    font-family: "Klavika Medium Condensed",Calibri,Arial,sans-serif;
    line-height: 30px;
    font-size: 22px;
    font-weight: 500;
}
.fs_description > article > p {
    font-size: 20px;
    line-height: 23px;
    margin: 15px 0 0;
}

.fs_button_1 {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    height: 46px;
    margin: 15px 0;
    text-transform: uppercase;
    width: 200px;
}
.fs_button_1:hover {
    background-color: #808080;
    border: 1px solid #000000;
    color: #000000;
}

@media only screen and (max-width: 767px) {
    .fs_description > article > h2 {
        font-size: 34px;
    }
}

@media (min-width: 992px) {
    .first_section {
        flex-flow: row nowrap;
    }
    .fs_main_context {
        height: auto;
        min-width: 50%;
    }
    .fs_description {
        width: 50%;
    }
}
